#wrapper {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
}

#sidebar {
  background-color: #222222;
  width: 256px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#sidebar span {
  display: block;
  width: 256px;
  height: 64px;
  line-height: 64px;
  color: white;
  font-size: 20px;
  text-align: center;
}

#menu {
  overflow-x: hidden;
  overflow-y: scroll;
}

#input_database_wrapper {
  height: 32px;
  margin-bottom: 8px;
}

#input_database {
  width: 240px;
  height: 32px;
  margin-left: 8px;
}

#content {
  padding-left: 32px;
  overflow: scroll;
  width: 100%;
}

#content table td {
  margin-left: 16px;
  margin-right: 16px;
}

/* ------------------------------------------------------------------------ */
.nav > li > a {
  border-radius: 0px;
}
