#login {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1.0);
}

#login form label {
  width: 128px;
}

/* ------------------------------------------------------------------------ */

#wrapper {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
}

#sidebar {
  background-color: #222222;
  width: 256px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#sidebar span {
  display: block;
  width: 256px;
  height: 64px;
  line-height: 64px;
  color: white;
  font-size: 20px;
  text-align: center;
}

#table_list {
  overflow-x: hidden;
  overflow-y: scroll;
  flex-grow: 1;
}

#table_list li {
  margin-left: 8px;
  margin-right: 8px;
  overflow: hidden;
}

#input_database_wrapper {
  height: 32px;
  margin-bottom: 8px;
}

#input_database {
  width: 240px;
  height: 32px;
  margin-left: 8px;
}

#content {
  padding-left: 32px;
  overflow: scroll;
  width: 100%;
}

#content table td {
  margin-left: 16px;
  margin-right: 16px;
}

#logout {
  width: 240px;
  margin: 8px;
}

/* ------------------------------------------------------------------------ */
.nav > li > a {
  border-radius: 0px;
}
